*{
	margin: 0px;
	padding: 10px;
	font-family: Inter;
}
body{
	background: #E3E2DF;
	color: #02342C;
}
header{
	display: flex;
	justify-content: center;
}
.header{
	width: 50%;
	height: 10%;
	border-radius: 30px;
	background: #AFD275;
	/*box-shadow: ;*/
}
h1{
	font-size: 30px;
	text-align: center;
}

div{
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
div.task{
	width: 450px;
	height: 400px;
	border-radius: 30px;
	background: #AFD275;
}

form{
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
div.hello{
	width: 300px;
}

p.result1, p.result2, p.result3{
	border-radius: 10px;
	background: #E3E2DF;
}
div.tasksCards{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer{
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 1100px;
	border-radius: 30px;
	background: #AFD275;
}